@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.about-wrapper{
    background-color:rgba(0, 0, 0, 0.479);
    color: white;
    padding: 0 1% 0 1%;
    font-family: 'Rubik', sans-serif;
    padding-bottom:5rem ;
    
}
.heading h2{
    text-align: center;
    font-size:45px;
}
.content p{
    font-size: 20px;
}
.image{
    width: 50%;
    margin: 0 auto;
}
.image img{
    width: 50vw;
    height: auto;
    padding-left: 20%;
}
.image p{
    padding-left: 20%;
}