html, body {
  overflow: scroll;
  overflow-x: hidden;
  height: fit-content;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

. person {
	background-color: #4dd2ff;
			border: 5px solid black;
			padding: 15px;
}


