@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.navbar-brand img{
  width: 150px;
  height:auto;
  margin-top: 10px;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.navbar a{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
 
}
.nav-link{
  margin-right: 30px;
}

.navbar .collapse .nav-item .nav-link:after {
  content: '';
  width: 0;
  height: 1.5px;
  display: block;
  background:white;
  transition: 300ms;

}

.navbar .collapse .nav-item .nav-link:hover:after {
  width: 100%;
}
.dropdown-toggle::after{
  border-left: none;
  border-right: none;
  border-top: none;
}
.body
{
  background-image: url("./img/space2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  padding:0;
  margin:0;
  overflow-x: hidden;
}
.title {
  background-color:black;
  color:white;
}

.img {
  min-height: 450px;
  background: center/cover no-repeat;
}


.col h5{
  word-wrap: break-word;
  font-size: 18px;
}

.col{
  flex:3;
  -ms-flex:3;
  width:33.33%;
  transition:transform 0.2s ease-out;
}

.col:hover{
  flex-grow: 5;
}

.col:first-child {
  margin-right: -5vw;
  clip-path: polygon(0 0, calc(100% - 15px) 0, calc(100% - 10vw) 100%, 0 100%);
  text-align: left;
}
.col:nth-child(2) {
  clip-path: polygon(10vw 0, calc(100% - 15px) 0, calc(100% - 10vw) 100%, 15px 100%);
  margin: 0 -5vw;
  text-align: center;
}

.col:last-child {
  clip-path: polygon(10vw 0, 100% 0, 100% 100%, 15px 100%);
  margin-left: -5vw;
  text-align: right;
}
@media only screen and (max-width:768px){
 .col h5{
   font-size:15px!important;
 } 
}

#content
{
  display: none;
}
.feed
{
  color: white;
  background-color:rgba(0, 0, 0, 0.479);
  padding: 10px 10px 10px 10px;
  font-family: 'Roboto Slab', sans-serif;

}
.flip-box {
 
  width: 450px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-box img{
    width:450px;
    height:auto;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotate3d(1,0,1,180deg);

}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}


/* Style the back side */
.flip-box-back {

       
  color:white;
  transform: rotate3d(1,0,1,180deg);
}
.footer-content
{
  margin: 0 auto;
}
.cp{
  color: white;
}
.footer-content ul li{
  display: inline;
  padding: 10px 10px 10px 10px;
}
.fa{
 color: white;
}
.fixed-bottom
{
  background-color: black!important;
}
.row 
{
   padding-left:50px;
}
