html, body {
  overflow: scroll;
  overflow-x: hidden;
  height: fit-content;
  background-color: dark-blue;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}


