@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


@media screen and (min-width: 501px) {
	body {
	  background-image: url("./img/space2.png");
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  color: #FFFFFF; 
	  height: 100%;
	  min-height: 100%;
	  width:100%;
	  padding:0;
	  margin:0;
	  overflow-x: hidden;
	  font-family: 'Rubik', sans-serif;
	  font-size: 16px
	}
	  
	.tablecontent {
		
		font-size: 1.1em;
	}

	.column1 {
	  
	  padding: 0.8em;
	 
	}
	
	.persicon {
	  height: 8em;
	  width: 8em; 
	}
	
}

@media screen and (min-width: 501px) and (orientation:portrait) {

	  body
	{
	  background-image: url("./img/space2.png");
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  color: #FFFFFF; 
	  height: 100%;
	  min-height: 100%;
	  width:100%;
	  padding:0;
	  margin:0;
	  overflow-x: hidden;
	  font-family: 'Rubik', sans-serif;
	  font-size: 14px;
	}

	.tablecontent {
		
		font-size: 1em;
	}

	.column1 {
	  
	  padding: 0.2em;
	  
	}

	.persicon {
	  height: 8em;
	  width: 8em;
	}
	
}
	

@media screen and (min-width: 321px) and (max-width: 500px) and (orientation:portrait) {

	  body
	{
	  background-image: url("./img/space2.png");
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  color: #FFFFFF; 
	  height: 100%;
	  min-height: 100%;
	  width:100%;
	  padding:0;
	  margin:0;
	  overflow-x: hidden;
	  font-family: 'Rubik', sans-serif;
	  font-size: 10px;
	}

	.tablecontent {
		
		font-size: 1em;
	}

	.column1 {
	  
	  padding: 0.2em;
	  
	}

	.persicon {
	  height: 6em;
	  width: 6em;
	}
	
}
	
@media screen and (min-width: 321px) and (max-width: 500px) and (orientation:landscape) {

	  body
	{
	  background-image: url("./img/space2.png");
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  color: #FFFFFF; 
	  height: 100%;
	  min-height: 100%;
	  width:100%;
	  padding:0;
	  margin:0;
	  overflow-x: hidden;
	  font-family: 'Rubik', sans-serif;
	  font-size: 10px;
	}

	.tablecontent {
		
		font-size: 0.6em;
	}

	.column1 {
	  
	  padding: 0.2em;
	  
	}

	.persicon {
	  height: 4em;
	  width: 4em;
	}
}
	

.sky-gazing-wrapper{
    color: white;
    padding: 0 1% 0 1%;
    font-family: 'Rubik', sans-serif;
	text-align: center;
    font-size:2.25em;
}

a.links:link {
	color: white;	
}

a.links:visited {
  color: white;
}

a.links:hover {
	text-decoration: none;
	color: black;
	background-color: white;
}

.links {
	border: .05em solid transparent;
	border-radius: .4em;
	padding: .25em;
}

.tablecontent {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	
}

.column1 {
  float: left;
  position: -webkit-sticky; 
  position: sticky; 
  top: 1em;
  width: 15%;
  overflow: hidden;
}

.column2 {
  float: left;
  padding: 1.8em;
  border-left: .1em solid white;
  width: 85%;
}

.sticky {
	position: -webkit-sticky; 
	position: sticky; 
	top: 0;
}

.new1 {
  border: .05px solid white;
  border-radius: .15em;
}

.container-fluid{
  padding-right: 0!important;
  padding-left: 0 !important;
  
}
.container-fluid .row{
  padding-left: 0;
}
	
.memcard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: space-around;
}	
	
.member-card {
	text-align: center;
	padding: 3em 1.5em;
	border: 0.2em solid white;
    border-radius: 1em;
    margin: 0.25em 0;
	
}

.bg-dark {
    background-color: rgba(0,0,0,0.851)!important;
}
	
.persicon {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border: .05em solid transparent; 
  border-radius: 50%;
}

.social-strip {
	margin-left: 2em;
	margin-right: 2em;
	border: 1px solid white;
	border-radius: 0.25em;
	background-color: rgba(255,255,255,0.851);
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}

#footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.footer-content
{
  margin: 0 auto;
}

.footer-content ul li{
  display: inline;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
}
ul.footr {
	padding-inline-start: 25%!important;
}