@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
 
 body
{
  background-image: url("./img/space2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF; 
  height: 100%;
  width:100%;
  padding:0;
  margin:0;
  overflow-x: hidden;
}

.column1 {
  float: left;
  width: 20%;
  padding: 20px;
}

.vl {
  border-left: 4px solid white;
  height: 800px;
  position: absolute;
  left: 20%;
  margin-left: 0px;
  top: 100;
}

.column2 {
  float: left;
  width: 80%;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}


#person {
	position: relative;
	text-align: center;
	border: thin solid white;
	border-radius: 5px;
	padding: 30px;
	float: left; 
	width: 25%; 
	height: 240px;
	
}	
	
.pericon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
}
